body {
  overflow: hidden;
}
.login_section {
  background-color: var(--color-light);
  height: 100vh;
}
.cont_login {
  padding: 40px;
}
.login_title {
  font-size: 25px;
  line-height: 42px;
  font-weight: 700;
}
.agents_bg {
  background-color: var(--color-white);
  padding: 30px 45px;
  border-radius: 50px 50px 50px 50px;
  height: 90%;
}
.agent_title {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 30px;
}
.login_img {
  width: 80%;
}
.form_agent {
  margin: -10px;
}
.form_input {
  margin: 10px;
}
.form_input label {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 2px;
}
.form_input .form_c {
  border-radius: 5px;
  padding: 20px 20px;
  font-size: 14px;
  box-shadow: none !important;
  background-color: #fbf8f2;
  border: none;
}
.sub_sign_in {
  border: none;
  background-color: var(--color-black);
  color: white;
  padding: 15px 30px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 5px;
  width: 100%;
}
.ac_line {
  width: 70px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.ac_liness {
  gap: 10px;
}
.creat_ac {
  background-color: transparent;
  border: none;
  font-weight: 700;
  color: rgb(0, 123, 255);
}
.cont_down_all {
  margin: 10px;
}
.forget_pass a {
  color: red;
  font-weight: 600;
  border-bottom: 1px solid red;
  padding-bottom: 3px;
}
.login_img1 {
  width: 94%;
}
/**/
.crm_aside_c {
  background-color: var(--color-dark);
  width: 22%;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 2rem;
  transition: 0.3s;
}
 
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.crm_logo {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 15px 0px;
}
.crm_logo img {
  height: 38px;
  width: auto;
}
.crm_all_body {
  background-color: #fffef8;
}
.main_m {
  padding: 10px;
}
.main_m p {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}
.crm_ul_li li {
  position: relative;
}
.crm_ul_li li:hover .sup_em{
  display: initial;
}
.crm_ul_li li a {
  color: white;
  display: flex;
  padding: 9px 15px;
  font-size: 13px;
  align-items: center;
  gap: 4px;
  font-weight: 600;
  position: relative;
}
.crm_ul_li li:nth-child(1) a {
  margin-top: 0px;
}
.crm_icons {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  padding-right: 7px;
  margin-right: 7px;
}
.crm_icons img {
  width: 22px; 
}
.sup_em {
  position: relative;
  top: 0px;
  left: 15%;
  width: 85%;
}
.sup_em li a {
  padding: 5px 10px;
  margin: 4px 0px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px 0px 0px 10px;
  font-size: 12px;
}

.sup_em .crm_icons {
  border: none;
  padding-right: 5px;
  margin-right: 0px;
}
.sup_em .crm_icons img {
  width: 17px;
}
.down_i img {
  height: 9px;
  width: auto;
}
.booking_img {
  margin-top: -0px;
}
.booking_img img {
  height: 50px;
  width: auto;
}
.crm_right {
  padding: 30px 30px;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 4rem;
}
.all_booking_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 17px;
}
.booking_container_crm {
  background-color: white;
  border: 1px solid rgba(50, 50, 50, 0.1);
  border-radius: 10px;
  padding: 20px 5px;
  padding-top: 0px;
  overflow: hidden;
}
.booking_img {
  width: 63px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark);
  border-radius: 0px 0px 50px 50px;
  margin-top: -2px;
}
.booking_img img {
  height: 25px;
  width: auto;
  filter: brightness(0) invert(1);
}
.booking_t {
  font-weight: 600;
  font-size: 12px;
  color: grey;
}
.booking_head {
  color: black;
}
.booking_head_all {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.1);
  padding-bottom: 11px;
}
.booking_num {
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 2px;
  text-transform: uppercase;
}
.booking_num1 {
  font-weight: 700;
  font-size: 21px;
  color: rgb(128, 128, 128);
}
.booking_graph_ic {
  position: absolute;
  bottom: 0px;
  right: 7px;
  opacity: 0.6;
}
.booking_graph_ic img {
  height: 50px;
  width: auto;
}
.booking_cont_crm {
  padding-top: 0px;
  width: 100%;
  position: relative;
  bottom: -7px;
}
.booking_body_control {
  margin-top: 10px;
  padding: 0px 10px; 
}
.crm_title {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}
.hr_crm {
  margin: 35px 0px;
  opacity: 0.1;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.aside_btnn {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -15px;
  right: 5px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.7);
  background-color: var(--color-light);
}
.aside_btnn img {
  height: 16px;
  width: auto;
  rotate: 180deg;
}
.sup_em_main {
  overflow: hidden;
}
.profile_img {
  gap: 6px;
  border: none;
  background-color: transparent;
  z-index: 3;
  position: absolute;
  right: 10px;
  top: 0px;
  text-align: start;
  background-color: var(--color-dark);
  color: white;
  padding: 5px 8px !important;
}
.profile_i img {
  height: 30px;
  width: auto;
  filter: brightness(0) invert(1);
}
.profile_img {
  margin-top: 0px;
  padding: 6px 0px;
  border-radius: 0px 0px 10px 10px;
  border-top: 2px solid black;
}
.profile_title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
}
.profile_content img {
  height: 8px;
  width: auto;
}
.footer_crm {
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  z-index: 9;
  background-color: var(--color-dark);
}
.profile_content .font_12 {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
}
.agents_header {
  font-weight: 700;
  font-size: 17px;
  justify-content: space-between;
  gap: 7px;
  background-color: var(--color-white);
  padding: 14px 20px;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.icons_common_ag {
  width: 38px;
  height: 35px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.icons_common_ag img {
  height: 20px;
  width: auto;
}
.gap_ag {
  gap: 20px;
}
.agent_num1 p {
  font-size: 23px;
}
/**/
.active_agents__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 22px;
  padding: 22px;
}
.agent_scroll {
  overflow-y: scroll;
  height: 350px;
}
.agents_container {
  padding: 15px 10px;
  background-color: #f8f8f8;
  border-radius: 10px;
}
.agents_container_semi {
  gap: 10px;
}
.agent_img img {
  width: 53px;
  height: 53px;
  object-fit: cover;
  border-radius: 100%;
}
.agent_title_crm {
  font-weight: 800;
  font-size: 13px;
  text-transform: uppercase;
}
.color_grey {
  color: grey;
}
.agent_badge {
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: 5px;
  font-size: 10px;
  font-weight: 600;
  padding: 2px 5px;
  display: inline-flex;
}
.agents_tick_t {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.agents_tick_t img {
  height: 24px;
  width: auto;
  margin-top: 5px;
}
.status_btn {
  border: none;
  font-size: 10px;
  background-color: rgb(218, 252, 218);
  font-weight: 600;
  border-radius: 5px;
  padding: 2px 8px;
  margin-top: 5px;
}
.agent_container {
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.status_btn_red {
  background-color: rgb(255, 189, 189);
}
.form_travel .form_all {
  box-shadow: none !important;
  border-radius: 0px;
  padding: 16px 15px;
  border-radius: 4px;
}
.form_travel label {
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 4px;
}
.create_bid {
  border: none;
  color: white;
  background-color: rgb(20, 175, 48);
  padding: 14px 20px;
  font-weight: 700;
  border-radius: 5px;
}
.modal_remark {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.modal_remark_ac {
  display: flex;
}
.modal_remark_box {
  width: 600px;
  background-color: var(--color-white);
  padding: 24px 25px;
  border-radius: 10px;
  position: relative;
}
.remark_title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 6px;
}
.create_bid_btn {
  margin-top: 20px;
  border: none;
  background-color: var(--color-dark);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.create_bid_btn img {
  height: 15px;
  width: auto;
  filter: brightness(0) invert(1);
}
.modal_remark_box .form_all {
  background-color: #eee;
  padding: 20px 20px;
}
.close_pnr_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  border-radius: 5px;
  cursor: pointer;
}
.close_pnr_btn img {
  height: 10px;
  width: auto;
}
.bid_table table {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.bid_table table th,
.bid_table table td {
  padding: 14px 13px;
  font-size: 13px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 600;
}
.bid_table table th {
  text-transform: uppercase;
  font-weight: 700;
}
.table-responsive {
  border-radius: 10px;
}
.bid_table table thead {
  background-color: var(--color-light);
}
.bid_table table td {
  background-color: white;
  font-size: 12px;
}
.desti_break {
  width: 170px;
}
.status_crm {
  border: none;
  background-color: yellow;
  padding: 4px 10px;
  border-radius: 5px;
  display: inline-flex;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 11px;
}
.view_btn_bid {
  background-color: green;
  color: white;
  font-size: 10px;
  font-weight: 700;
  padding: 2px 7px;
  display: inline-flex;
  border-radius: 10px;
}
.profile_cont_semi {
  position: absolute;
  top: 3rem;
  right: 0px;
  background-color: white;
  padding: 0px;
  background-color: var(--color-dark);
  border-radius: 10px;
  width: 100%;
  display: none;
}
.profile_cont_semi::after {
  content: "";
  position: absolute;
  top: -6.5px;
  right: 10px;
  width: 7px;
  height: 7px;
  background-color: var(--color-dark);
  transform: rotate(-45deg);
}
.profile_cont_semi_ac {
  display: initial;
}
.profile_cont_semi li {
  display: flex;
}
.profile_cont_semi a {
  font-size: 11px;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  padding: 8px 10px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
}
.profile_cont_semi a img {
  width: 14px;
}
.profile_cont_semi li:nth-child(1) a {
  border-top: none !important;
}
.title_common_semi {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  padding-bottom: 7px;
}
.box_crm_tr {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.box_crm_input label {
  font-weight: 700;
  font-size: 12px;
}
.flex_all {
  display: flex;
  flex-wrap: wrap;
}
.box_crm_input .box_crm_input_all {
  font-size: 12px;
  padding: 16px 17px;
  box-shadow: none !important;
  background-color: #f2f2f2;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.width_control_in13 {
  width: 13%;
}
.width_control_in23 {
  width: 24%;
}
.form_box_auth {
  margin: -7px;
}
.box_sp {
  padding: 7px;
}
.margin_box_tr {
  margin-top: 30px;
}
.width_control_in25 {
  width: 25%;
}
.drop_numer_pref {
  position: absolute;
  top: 2.6rem;
  background-color: var(--color-dark);
  height: 150px;
  overflow-y: scroll;
  width: 100%;
  left: 0px;
  border-radius: 6px;
  padding: 6px;
  display: none;
}
.drop_numer_pref_act {
  display: block;
}
.drop_numer_pref li {
  font-size: 11px;
  font-weight: 600;
  padding: 4px 13px;
  cursor: pointer;
  color: white;
}
.num_country {
  font-size: 13px;
  font-weight: 700;
}
.drop_numer_pref li:nth-child(1) {
  border-top: none;
}
.width_control_in100 {
  width: 100%;
}
.num_cont_all {
  width: 350px;
  background-color: #f1f1f1;
  padding: 14px 15px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.width_control_in50 {
  width: 50%;
}
.num_cont_all_semi {
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.num_cont_all_semi img {
  height: 12px;
  margin-right: 6px;
  filter: brightness(0) invert(0);
  width: auto;
}
.box_sp label {
  font-weight: 700;
  font-size: 12px;
}
.table_custom_header1 {
  display: flex;
  align-items: center;
}
.table_custom_header1 li {
  width: 50%;
  padding: 18px 20px;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}

.table_custom {
  background-color: white;
  border-radius: 10px;
}
.table_custom_header1 select {
  box-shadow: none !important;
  padding: 10px 15px;
  border-radius: 3px;
  font-size: 13px;
  border: 1px solid rgba(89, 89, 89, 0.1);
  font-weight: 700;
  text-transform: uppercase;
}
.table_custom_header1 select option {
  font-weight: 700;
}
.status_crm_suc {
  background-color: green;
  color: white;
}
.send_auth_again {
  border: none;
  border-radius: 3px;
  padding: 7px 11px;
  font-size: 12px;
  font-weight: 600;
  background-color: red;
  color: white;
}
.table_custom_header1:nth-child(odd) {
  background-color: #fbfbfb;
}
.table_custom_header1:nth-child(1) {
  border-radius: 10px 10px 0px 0px;
}
.table_custom_header1:nth-child(7) {
  border-radius: 0px 0px 10px 10px;
}
.table_custom {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.width_control_in37 {
  width: 37%;
}
.provide_table table {
  width: 100%;
}
.provide_table th,
.provide_table td {
  padding: 5px 17px;
  font-size: 14px;
}

.provide_table {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  background-color: #fffef8;
}
.hide_show_crd {
  width: 55px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--color-dark);
  cursor: pointer;
}
.hide_show_crd img {
  height: 16px;
  width: auto;
}
.width_control_in30 {
  width: 30%;
}
.width_control_in20 {
  width: 20%;
}
.width_control_in33 {
  width: 33.3%;
}
.send_in_btn {
  border: none;
  background-color: green;
  color: white;
  border-radius: 5px;
  padding: 14px 20px;
  font-weight: 700;
  width: 100%;
  text-transform: uppercase;
  margin-top: 23px;
}
.performer_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}
.performer_img_i img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.performer_badge {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
  width: 155px;
}
.performer_content {
  position: absolute;
  bottom: 34px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 2;
}
.perf_title {
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
}
.per_profit {
  font-weight: 700;
  font-size: 13px;
}
.performer_container {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 8px;
  z-index: 1;
}
.performer_container::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  border-radius: 10px;
}
.profit_title {
  font-size: 14px;
  border-bottom: 2px solid white;
  padding-bottom: 3px;
}
.performer_img2 img {
  height: 200px;
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}
.reward_icon {
  position: absolute;
  top: -20px;
  right: -20px;
  transform: rotate(15deg);
}
.reward_icon img {
  height: 100px;
  width: auto;
}
/**/
.deals_title {
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 5px;
}
.deals_run_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.color_btn_ch {
  background-color: var(--color-dark);
  font-size: 13px;
  padding: 7px 10px;
}
.submit_btn_provider {
  border: none;
  background-color: var(--color-dark);
  color: white;
  border-radius: 3px;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 700;
  padding: 10px 5px;
  letter-spacing: 0.2px;
  width: 100%;
}
.booking_btn {
  border: none;
  background-color: var(--color-dark);
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 12px;
}
.view_booking_detail_modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  display: none;
}
.view_booking_detail_modal_ac {
  display: flex;
}
.view_booking_detail_modal_semi {
  width: 65%;
  border-radius: 10px;
  background-color: white;
  padding: 25px;
  position: relative;
  height: 86vh;
  overflow-y: scroll;
}

.flight_d {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 1px;
}
.booking_cont_pop {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 7px;
}
.booking_cont_pop p {
  font-weight: 700;
  font-size: 12px;
  padding: 13px 15px;
}
.booking_title_head {
  background-color: #f3f3f3;
  width: 150px;
  padding: 10px;
  border-radius: 5px 0px 0px 5px;
}
.booking_tablle {
  margin: -10px;
}
.tilte_semi {
  font-size: 18px;
  font-weight: 700;
}
.booking_id_btn {
  position: absolute;
  top: 0px;
  right: 10px;
  background-color: green;
  color: white;
  display: inline-flex;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 9px 20px;
  padding-bottom: 12px;
  border-radius: 0px 0px 20px 20px;
}

.form_select_form {
  border-radius: 0px;
  padding: 7px 16px;
  font-size: 14px;
  box-shadow: none !important;
  border-radius: 3px;
}
.fw-700 {
  font-weight: 700;
}
.update_status_booking_btn {
  border: none;
  background-color: var(--color-yellow);
  font-size: 15px;
  border-radius: 5px;
  padding: 8px 15px;
  font-weight: 700;
}
.hr_linee {
  margin: 30px 0px;
  opacity: 0.1;
}
.close_btnn {
  border: none;
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark);
  border-radius: 4px;
}
.close_btnn img {
  height: 12px;
  width: auto;
}
.crm_all_body_body {
  overflow-y: scroll;
}
.back_btn {
  border: none;
  background-color: var(--color-red);
  color: white;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  border-radius: 3px;
  padding: 7px 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.back_btn img {
  height: 12px;
  width: auto;
}
.refresh_bt {
  background-color: green;
}
.send_ag {
  background-color: var(--color-yellow);
  color: black;
}
.img_team img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  object-fit: cover;
}
.btns_status {
  border: none;
  background-color: green;
  border-radius: 3px;
  padding: 7px 10px;
  border-radius: 3px;
  font-weight: 600;
  color: white;
}
.btns_status .delete_btn {
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  background-color: red;
}
.btns_status .delete_btn img {
  height: 15px;
  width: auto;
}
.edit_btnn {
  background-color: green !important;
}
.margin_minus_b {
  margin-top: -30px;
}
.btns_status_success {
  background-color: green !important;
}
.reject_btt {
  background-color: red;
}
.provider_btnn {
  cursor: pointer;
  background-color: var(--color-dark);
  color: white;
  font-size: 11px;
  padding: 10px 12px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.provider_btnn img{
  height: 10px;
  width: auto;
}
.booking_cont_crm .font_12 {
  font-size: 10px;
}
.bid_cont {
  margin: -6px;
  margin-bottom: 20px;
}
.bids_inn_fresh {
  background-color: white;
  border-radius: 5px;
  padding: 12px 15px;
  margin: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.bids_inn_fresh label {
  padding: 0px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  font-style: italic;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.bids_inn_fresh label img {
  width: 15px;
}
.bids_inn_fresh input {
  border: none;
  background-color: transparent;
  padding: 0px;
  font-size: 14px;
  box-shadow: none !important;
  background-color: transparent !important;
}
.bid_numm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filter_title {
  font-weight: 700;
}
.clear_filter {
  border: none;
  background-color: var(--color-red);
  font-size: 13px;
  font-weight: 700;
  color: white;
  padding: 8px 10px;
  padding-left: 6px;
  border-radius: 2px;
  border: 3px solid rgb(255, 145, 145);
  transition: 0.3s;
}
.clear_filter:hover {
  transform: scale(1.1);
}
.clear_filter img {
  height: 20px;
  width: auto;
}
.tabs_list_all {
  display: flex;
  align-items: center;
  gap: 12px 16px;
  flex-wrap: wrap;
}
.tabs_list_all button {
  border: none;
  padding: 6px 8px;
  font-weight: 500;
  border-radius: 3px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
  font-size: 12px;
}
.mb_3 {
  margin-bottom: 11px;
}
.btn_common_c {
  background-color: var(--color-dark);
  color: white;
  display: inline-flex;
  border-radius: 3px;
  padding: 6px 8px;
  font-size: 11px;
}
.text_cap {
  text-transform: capitalize;
  font-weight: 700;
  padding: 5px 6px;
  border-radius: 3px;

}
.text_cap_highlight{
  background-color: var(--color-dark);
  color: white;
  display: inline-flex;
  padding: 9px 15px;
  border-radius: 5px; 
  font-size: 13px;
}
.text_cap.text-success {
  background-color: green;
  color: white !important;
}
.text_cap.text-warning {
  background-color: yellow;
  color: black !important;
}
.text_cap.text-danger {
  background-color: red;
  color: white !important;
}
.pagination button {
  border-radius: 3px !important;
  font-size: 13px !important;
}
.editor_workspace {
  background-color: white;
  height: 550px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}
.rdw-option-wrapper {
  width: 35px;
  height: 35px;
  padding: 11px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.rdw-dropdown-wrapper {
  height: 35px;
  display: flex;
  align-items: center;
  color: black;
  padding: 11px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.rdw-dropdown-selectedtext {
  width: 100%;
  color: black;
  padding-right: 13px;
}
.rdw-dropdown-carettoopen {
  right: -2.6px;
}
.rdw-editor-toolbar {
  padding: 17px;
}
.bids_inn_fresh_br {
  border-radius: 50px;
  padding: 0px 25px;
  padding-left: 0px;
  display: flex;
  align-items: center;
}
.bids_inn_fresh_br label {
  margin-bottom: -1px;
  font-style: initial;
  width: 110px;
  background-color: var(--color-dark);
  color: white;
  padding: 17px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px 0px 0px 50px;
  margin-right: 13px;
}
.bids_inn_fresh_br img {
  filter: brightness(0) invert(1);
}
.todays_booking {
  background-color: rgb(0, 112, 198);
  color: white;
  border: 3px solid rgb(0, 100, 176) !important;
}
.under_follow_btn {
  background-color: yellow;
  border: 3px solid rgb(255, 239, 16) !important;
}
.mco_charged_btn {
  background-color: rgb(0, 175, 0);
  border: 3px solid rgb(0, 166, 0) !important;
  color: white;
}
.tabs_list_all button span {
  width: 20px;
  height: 20px;
  background-color: white;
  color: black;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  margin-right: 2px;
}
.rank_cont {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 46px;
  height: 46px;
  background-color: red;
  border-radius: 5px 0px 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: white;
}
.rank_title {
  font-size: 10px;
}
.performer_content_1 {
  margin-top: 6px;
}
.performer_content_1_num {
  background-color: green;
  color: white;
  font-size: 11.5px;
  border-radius: 3px;
  font-weight: 700;
  padding: 10px 6px;
  display: inline-flex;
  justify-content: center;
  width: 75%;
  z-index: 1;
  position: relative;
  top: -26px;
  text-transform: uppercase;
  font-style: italic;
}
.performer_content {
  bottom: 30px !important;
}
.btn_apply {
  display: flex;
  align-items: center;
  border: none;
  justify-content: center;
  border-radius: 4px;
  width: 100%;
  font-size: 11px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 7px 3px;
  transition: 0.3s;
}
.apply_filter {
  background-color: green;
  color: white;
}
.reset_btn {
  background-color: red;
  color: white;
}
.btn_apply:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
.crm_title_semi {
  font-size: 20px;
}
.title_common_semi1 {
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: capitalize;
  font-style: italic;
  margin-top: 10px;
  color: rgb(112, 112, 112);
  font-size: 14px;
  margin-top: 15px;
}
.outbound_segment_container {
  border-top: 1px solid rgba(55, 55, 55, 0.1);
  margin-top: 20px;
}
.outbound_segment_container0 {
  border-top: none;
  margin-top: initial;
}
.title_common_semi_main1 {
  position: relative;
}
.title_common_semi_main1 span {
  margin-top: 13px;
  font-size: 15px;
  font-weight: 700;
  background-color: #f6f6f6;
  color: black;
  padding: 8px 22px;
  border-radius: 3px 3px 0px 0px;
  position: relative;
  display: inline-block;
}
.title_common_semi_main1::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 0.2px;
  background-color: rgba(0, 0, 0, 0.1);
}
.card_type {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: italic;
  color: grey;
  display: inline-flex;
}
.scroll_me {
  height: 100vh;
  overflow-y: scroll;
}
.gap_2 {
  gap: 10px;
}
.auth_btnn {
  background-color: var(--color-dark);
}
.fixed_btns_all_pnr {
  position: fixed;
  right: -11.1rem;
  top: 50%; 
  display: flex;
  align-items: center;
  gap: 10px;
  rotate: -90deg;
}
.btn_stick{
  border: none;
  padding: 7px 10px;
  font-size: 15px;
  font-style: italic;
  background-color: rgb(3, 115, 227);
  color: white;
  border-radius: 5px 5px 0px 0px;
  border: 3.5px solid rgb(155, 205, 255);
}
.text_cap{
  text-transform: capitalize;
  font-style: italic;
  color: grey;
}
.width_control_in10{
  width: 10%;
}
.width_control_in15{
  width: 15%;
}
.width_control_in35{
  width: 35%;
}
/**/
.log_all_pop{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.log_header{
  font-weight: 600;
}
.log_pop_semi{
  background-color: white;
  border-radius: 5px;
  width: 60%; 
  max-height: 500px;
  overflow-y: scroll;
  padding: 15px 20px;
  padding-top: 0px;
}
.log_header{
  font-weight: 700;
  font-size: 20px;
  padding: 17px 0px;
  background-color: var(--color-white);
  border-radius: 5px;
}
.log_close{
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}
.log_close img{
  height: 11px;
  width: auto;
}
.profile_box{
  background-color: red;
  color: white;
  border-radius: 3px;
  padding: 4px 7px;
  font-size: 10px;
  display: inline-flex;
  margin-top: 2px;
}
.title_common_semi_main_activity{ 
  margin-bottom: 9px;
}
.title_common_semi_main_activity span{
 font-size: 12px;
 
}
.passenger_activity{
  margin-top: 10px;
}
.passenger_activity:nth-child(1){
  margin-top: 0px;
}
/*Thankyou*/
.thankyou_main{
  background-color: #fffcf8;
  height: 100vh;
  padding-bottom: 5rem;
}
.thankyou_title{
  font-size: 64px; 
  font-weight: 700;
  font-family:'Courier New', Courier, monospace;
  color: #33bca3; 
}
 
.thanks_auth_title{
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 700;
  margin-top: 40px;
}
.support_cont_auth{
  color: blue; 
  margin-top: 15px;
  font-size: 22px;
  display: inline-flex;  
}
.para_auth{
  font-size: 18px;
  line-height: 20px;
  color: grey;
}
.secure_icon img{ 
  height: 150px;
  width: auto;
}
.lang_btn{
  position: fixed;
  bottom: 0px;
  left: 15px;
}
.lang_btn button{
  border: none;
  background-color:rgb(18, 91, 136);
  color: white;
  padding: 11px 24px;
  padding-left: 45px;
  font-weight: 700;
  font-size: 15px;
  border-radius: 5px 5px 0px 0px;
  position: relative;
  
}
.lang_btn button img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  height: 30px;
  width: auto;
  opacity: 0.4;
}
.btn_langg{
  display: flex;
  flex-direction: column;
}
.view_details_crd{
  border: none;
  font-size: 10px;
  height: 100%;
  display: flex; 
  background-color: rgb(0, 193, 0);
  color: white;
  border-radius: 3px;
  font-weight: 700;
  padding: 6px 8px;
  margin-top: 2px;
}
.verfiy_cont{
  display: none;
}
.verfiy_cont_ac{
  display: initial;
}
.verfiy_card input{
  border-radius: 3px;
  font-size: 12px;
  padding: 10px 10px;
  box-shadow: none !important;
}
.view_details_crd_none{
  display: none;
}
.loader_verify{
 transform: scale(0.2);
    margin-top: -13px;
    margin-left: -5px;
    display: none;
}
.loader_verify_ac{
  display: initial;
}
.lds-spinner,
.lds-spinner div,
.lds-spinner div:after {
  box-sizing: border-box;
}
.lds-spinner {
  color: currentColor;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 10px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3.2px;
  left: 36.8px;
  width: 6.4px;
  height: 17.6px;
  border-radius: 20%;
  background: currentColor;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.al_invoice_flex{
  width: 200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.trans_type{
  text-transform: capitalize;
}
.cancellation_btn{
  border-color: #fe3346 !important;
    background-color: #fe3346;
}
 .action_provider_btn_main{
  background-color: green;
  display: inline-flex; 
  border-radius: 5px;
 }
.action_provider_btn{
  border: none; 
  color: white; 
  padding: 9px 11px;
  font-weight: 700; 
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 10px;
}
.action_provider_btn img{
  height: 12px;
  width: auto;
}
.action_provider_dlt{
  background-color: #fe3346;
  border-radius: 0px 5px 5px 0px;
}
.hr_h1{
  opacity: 0.2;
}
.segment_span_semi{
  font-size: 10px;  
  color: grey;  
  font-style: italic;
  margin: 5px 0px;
}
.rdw-block-dropdown{
  width: 100%;
}
.rdw-fontfamily-dropdown{
  width: 100%;
}
.rdw-dropdown-optionwrapper{
  top: 4rem;
}
.drop_img img{
  height: 8px;
  width: auto;
  margin-top: -3px;
}
.profile_content1 img{
  height: 350px; 
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.profile_card1{
  width: 55%;
  margin: auto;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
  border-radius: 10px;
  padding-bottom: 2rem;
}
.profile_img_1{
  background-color: black;
  border-radius: 10px 10px 0px 0px;
}
.profile_ul_c{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile_content_c{
  position: relative;
  background-color: #fffef8;
  border-radius: 10px;
  padding: 20px 15px;
  width: 90%;
  margin: auto;
  margin-top: -7rem;
  box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
}
.profile_ul_c li{
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 13px;
}
.profile_ul_c li img{
  height: 20px;
  width: auto;
}
.upper_case{
  text-transform: uppercase;
  font-weight: 700 !important ;
}
.profile_ul_c{
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 14px 0px;
}
.profile_ul_c:nth-child(1){
  border-top: none;
  padding-top: 0px;
}
.profile_header_p{
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 19px;
}
.profile_img_11 img{
  height: 73px;
  width: auto;
  margin: auto;
  margin-top: -4rem;
}
.apply_btn_filter{
  border: none;
  background-color: var(--color-yellow); 
  width: 100%;
  font-weight: 700;
  padding: 15px;
  border-radius: 5px;
  font-size: 14px;
}
.bids_inn_fresh1{
  margin: 6px;
}
.created_bg_c{
  background-color: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-weight: 700;
  text-transform: capitalize;
}
.cap_font{
  text-transform: capitalize;
}
.highlight_c{
  text-transform: capitalize; 
  border-bottom: 2px solid black;
  padding-bottom: 2px;
}
.current_title_ac{
  text-transform: capitalize;
  font-weight: 700;
}
.list_valuess{
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 10px; 
}
.list_valuess li{
  padding: 10px 20px;
}
.list_valuess li:nth-child(even){
  background-color: #fffef8;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.edit_cont_valuess{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 4px;
}
.edit_cont_valuess .form-control{
  width: 100%;
  border: none;
  box-shadow: none;
  padding: 14px 20px;
  text-transform: capitalize;
}
.remarks_semi_title{
  font-weight: 700;
  color: grey;
  text-transform: uppercase;
  margin-bottom: 6px;
  font-style: italic;
  font-size: 15px;
}
.remarks_semi_title_minuss{
  margin-top: -8px;
}
.edit_flex_b_p{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.auth_btn{
  border: none;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 3px;
  background-color: var(--color-dark);
  color: white;
}
.op_reduce{
  opacity: 0.7;
}
.pending_bookingg{
  background-color: rgb(255, 177, 32);
  border: 3px solid rgb(255, 177, 32) !important;
}
.auth_btn_preview{
  border: none;
  font-size: 10px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 3px;
  background-color: green;
  color: white;
  margin-left: 5px;
}
.bids_inn_fresh select {
  border: none;
  background-color: transparent;
  padding: 0px 7px;
  font-size: 14px;
  box-shadow: none !important;
  background-color: transparent !important;
}
.select_minus{
  margin: 0px -7px;
}
.refresh_btn{
  border: none;
  margin-top: 10px;
  font-weight: 700;
  font-size: 12px;
  padding: 6px 9px;
  background-color: rgb(20, 175, 48);
  color: white;
  border-radius: 3px;
  display: flex;
  align-items: center;
  gap: 3px;
}
.refresh_btn img{
  height: 13px;
  width: auto;
}
.width_control_in25 .react-datepicker-wrapper{
  width: 100%;
} 
.segment_container_authh{
  margin-top: 12px;
}
 