@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
   font-family: "Mulish", sans-serif;
}
:root{
    --color-white: white;
    --color-black: black;
    --color-dark: #1a3232;
    --color-yellow: #FDC783;
    --color-red: #fe3346;
    --color-light: #F5F2E9;
}
li, a{
    list-style: none;
    text-decoration: none;
}
ul{
    padding: 0px;
    margin: 0px;
}
img{
    width: 100%;
}
.white{
    color: var(--color-white);
}
.font_12{
    font-size: 12px;
}
.relative{
    position: relative;
}
.row {
  margin: 0px; 
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  margin: 0px;
  padding: 0px;
}
.container, .container-fluid, .container-xl{ 
    padding: 0px;
}
p{
    margin-bottom: 0px;
}
h1, h2, h3, h4, h5, h6{
    margin-bottom: 0px;
}
.flex_props{
    display: flex;
    align-items: center;
}
.disabled {
  pointer-events: none; 
  opacity: 0.6;    
}
.add_pr_title{
    text-transform: uppercase;
    font-size: 19px;
    font-style: italic;
    font-weight: 700;
}
.provider_semi_semi{
    background-color: var(--color-dark);
    color: white;
    border-radius: 10px;
    width: 450px;
    padding: 25px;
}
.provider_semi_semi .form-label{
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 12px;
}
.provider_semi_semi .form_in_pr{
    border-radius: 3px;
    box-shadow: none;
    padding: 13px 11px;
    font-size: 14px;
}
.btn_provider_pop{
    background-color: var(--color-red);
    border: none;
    font-weight: 700;
    padding: 8px 15px;
    border-radius: 3px;
    font-size: 14px;
    color: white;
}
.btn_provider_pop_add{
    background-color: rgb(10, 207, 105); 
}
 
.crm_ul_li li a p{
    font-size: 12px;
    text-transform: uppercase;
}
.dashboard_show{
    width: 38px;
    height: 38px;
    position: fixed;
    top: 0px;
    left: 0px;
    border: none;
    background-color: var(--color-dark);
    border-radius: 0px 5px 5px 0px;
    padding: 6px;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.dashboard_show_ac{
    display: flex;
}
.sup_em a p{
    text-transform: capitalize !important;
    font-size: 11px !important;
}
.btn_status_agent{
    border: none;
    background-color: var(--color-red);
    color: white;
    font-weight: 600;
    padding: 6px 9px;
    border-radius: 3px;
    font-size: 11px;
    text-transform: capitalize;
}
.btn_warning{
    background-color: green; 
}
.loader {
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  line-height: 1.2em;
  display: inline-grid;
}
.loader:before,
.loader:after {
  content:"Loading...";
  grid-area: 1/1;
  -webkit-mask: linear-gradient(90deg,#000 50%,#0000 0) 0 50%/2ch 100%;
  color: #0000;
  text-shadow: 0 0 0 #000,0 calc(var(--s,1)*1.2em) 0 #000;
  animation: l15 1s infinite;
}
.loader:after {
  -webkit-mask-position: 1ch 50%;
  --s:-1;
}
@keyframes l15 {80%,100%{text-shadow:0 calc(var(--s,1)*-1.2em)  0 #000,0 0 0 #000}}
.loader1{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.7);
    z-index: 3;
    display: none;
}
.loader1_ac{
    display: flex;
}